<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">   
            @Text            
        </p>
        @if(Contenuto != null)
        {
            @Contenuto
        }
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public RenderFragment? Contenuto { get; set; }

}
